<!DOCTYPE html>
<html>
  <head>
    <title>Genre Match</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script type="text/javascript" src="../static/js/genres.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="header-container">
        <h1 class="header-text">Genre Match</h1>
      </div>
      <div class="search">
        <form method="POST" action="/automation">
          <input
            class="search-bar"
            type="text"
            placeholder="Search Artist"
            id="artist"
            name="artist"
          /><input
            class="search-button"
            type="submit"
            id="search-button"
            value=""
            name="action"
          />
        </form>
      </div>
    </div>
    <div class="content-container">
      <div class="content">
        <div class="artist-header">
          <h1 class="artist-title">{{artist}}</h1>
        </div>
        <div class="artist-details">
          <div class="artist-portrait">
            <img
              id="artist-picture"
              class="artist-picture"
              src="https://en.wikipedia.org/wiki/Fleetwood_Mac#/media/File:Fleetwood_Mac_Billboard_1977.jpg"
            />
          </div>
          <div id="artist-genres" class="artist-genres">
          </div>
          <script>
            getGenres('{{genres_image_json | safe}}')
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
