body {
  position: relative;
  background-color: rgb(83, 75, 98);
}

.header {
  position: relative;
  height: 30vh;
}

.header-container {
  position: relative;
  width: 100%;
  height: calc(95% - 4em);
}

.header-text {
  position: absolute;
  color: rgb(27, 23, 37);
  font-family: "Segoe UI", Tahoma;
  font-size: 50px;
  bottom: 0;
}

@media screen and (max-width: 300px) {
  .header-text {
    left: 35%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .header-text {
    left: 35%;
  }
}

@media screen and (min-width: 1025px) {
  .header-text {
    left: 40%;
  }
}

.search {
  display: block;
  position: absolute;
  top: calc(95% - (4em));
  width: 70%;
  margin-left: 15%;
  margin-right: 10%;
  padding: 1% 5px;
  background-color: rgb(83, 129, 202);
  border-radius: 5px;
  text-align: center;
}

.search-bar {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-indent: 2.5%;
  line-height: 3.25em;
  width: 90%;
  border: none;
  border-radius: 5px 0px 0px 5px;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
}

.search-button {
  border: none;
  border-radius: 0 5px 5px 0px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/search_icon.svg");
  color: rgb(83, 75, 98);
  background-color: rgb(229, 183, 141);
  background-repeat: no-repeat;
  background-position: center;
  width: 3em;
  height: 3.8em;
  background-size: 100%;
}

.search-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .search-bar {
    width: 85%;
  }
}

.content-container {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(83, 129, 202);
  padding: 2vh;
  border-radius: 10px;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.content {
  height: auto;
}

.artist-header {
  position: relative;
  display: block;
  height: 5svh;
  width: auto;
  background-color: rgb(27, 23, 37);
  color: rgb(255, 255, 255);
  margin-right: 20%;
  padding: 1svh;
  border-radius: 10px 10px 0px 0px;
}

.artist-title {
  position: absolute;
  left: 30%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
}

.artist-details {
  position: relative;
  background-color: rgb(27, 23, 37);
  color: rgb(255, 255, 255);
  border-radius: 0 10px 10px 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.artist-portrait {
  position: relative;
  display: block;
  background-color: rgb(229, 183, 141);
  border: solid 10px rgb(229, 183, 141);
  border-radius: 10px;
  margin-left: 50%;
  margin-top: 20px;
  height: 30%;
  width: 40%;
  text-align: center;
}

.artist-picture {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.artist-genres {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-left: 5%;
  margin-top: 20px;
}

.genre {
  position: relative;
  background-color: rgb(229, 183, 141);
  width: 100%;
  border-radius: 10px;
  border: solid 5px rgb(83, 75, 98);
  margin-bottom: 5px;
  height: auto;
}

h1,
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
  text-align: center;
}

@media screen and (max-width: 767px) {
  .artist-details {
    display: flex;
    flex-flow: column wrap;
  }

  .artist-portrait {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .artist-genres {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .content-container {
    width: 70%;
    margin-bottom: 10vh;
  }

  .artist-header {
    height: 10vh;
  }

  .artist-title {
    left: 50%;
    transform: translateX(-50%);
  }

  .artist-details {
    display: block;
  }

  .artist-portrait {
    display: inline-block;
    height: 40vh;
    width: 30%;
    margin-left: 0;
    margin-right: 5%;
  }

  .artist-genres {
    display: inline-block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .genre {
    height: 15vh;
  }
}
